<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head  th:fragment="head">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Pawsome Vets</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/favicon.png" rel="icon">
    <link href="/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="../vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../vendor/php-email-form/validate.js"></script>
    <script src="../vendor/purecounter/purecounter.js"></script>
    <script src="../vendor/swiper/swiper-bundle.min.js"></script>

<!--    jquery-->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



    <!-- Template Main CSS File -->
    <link href="../css/style.css" rel="stylesheet">


</head>
<body >
<header  th:fragment="header" id="header" class="fixed-top">
    <div class="container d-flex align-items-center" style="margin-left: 140px;">
        <img src="/img/logo-small.jpg" class="nav-logo" alt="">
        <div class="head-logo">

        </div>
        <h1 class="logo me-auto"><a href="/home">Pawsome Vets</a></h1>


        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown"><a href="#"><span>Admin Panel</span> <i
                        class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a th:href="@{/doctors/register}">Register a doctor</a></li>


                    </ul>
                </li>

                <li><a class="nav-link scrollto" href="/contacts">Contacts</a></li>
                <li><a class="nav-link scrollto" href="/doctors">Doctors</a></li>
                <li><a class="nav-link scrollto" sec:authorize="isAuthenticated()" href="/stories/show">Stories</a></li>

                <li><a class="nav-link " sec:authorize="isAuthenticated()" href="/pets/my-pets">My Pets</a></li>
                <li><a class="nav-link " sec:authorize="hasRole('ROLE_DOCTOR')" href="/appointments/pending">
                    <span style=" background-color: #3daf98; color: white; text-decoration: none; padding: 7px 13px; position: relative; display: inline-block; border-radius: 30px;">My Appointments</span>
                    <span class="badge" id="notificationNum" style="position: absolute; top: 5px; right: -8px; padding: 5px 10px; border-radius: 50%; background: red; color: white;" th:text="${notifications}">3</span>
                </a></li>


                <li><a class="log-reg" sec:authorize="!isAuthenticated()" th:href="@{/users/login}">Login</a></li>
                <li><a class="log-reg" sec:authorize="!isAuthenticated()" th:href="@{/users/register}">Register</a></li>

                <span sec:authorize="isAuthenticated()" th:text="${'Hello, ' + #authentication.getName()}"></span>
                <li>
                    <form class="logout-btn-form" sec:authorize="isAuthenticated()" th:action="@{/logout}"
                          method="post">
                        <input class="logout-btn" type="submit" value="Log out"/>
                    </form>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <a th:href="@{/appointments/make}" sec:authorize="isAuthenticated()" class="appointment-btn "><span class="d-none d-md-inline">Make an</span>
            Appointment</a>

    </div>
</header><!-- End Header -->

<footer th:fragment="footer" id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Pawsome Vets</h3>
                    <p>
                        bul Gotse Delchev 41 <br>
                        Sofia, Bulgaria <br>
                        <strong>Phone:</strong> +1 5589 55488 55<br>
                        <strong>Email:</strong> vets@paw.com<br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/contacts">Contacts</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/doctors">Our Team</a></li>
                        <th:block sec:authorize="isAuthenticated()">
                            <li><i class="bx bx-chevron-right"></i> <a  href="/stories/show">Stories</a></li>
                        </th:block>

                        <th:block sec:authorize="!isAuthenticated()">
                            <li><i class="bx bx-chevron-right"></i> <a   th:href="@{/users/login}">Login</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a  th:href="@{/users/register}">Register</a></li>
                        </th:block>
                    </ul>
                </div>

                <th:block sec:authorize="isAuthenticated()"><div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i><a href="/appointments/make"> Make an Appointment</a></li>
                        <li><i class="bx bx-chevron-right"></i><a href="/stories/show"> Stories</a></li>
                        <li><i class="bx bx-chevron-right"></i><a href="/pets/my-pets"> My Pets</a></li>
                        <li><i class="bx bx-chevron-right"></i><a href="/contacts"> Location</a></li>
                        <li><i class="bx bx-chevron-right"></i><a href="/doctors"> Our Team</a></li>
                    </ul>
                    <a href=""></a>
                </div></th:block>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>Join Our Newsletter</h4>
                    <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">

        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>Pawesome vets</span></strong>. All Rights Reserved
            </div>

        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</footer>
<script src="/js/main.js"></script>
</body>
</html>
