<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/commons :: head">

</head>

<body>
<header id="header" class="fixed-top" th:replace="fragments/commons :: header"></header>

<section class="reg-sec" style="margin-top: 50px">

    <div class="reg-div">
        <div id="register-box">
            <div class="left">
                <form class="reg-form" th:action="@{/doctors/register}"
                      method="POST">
                    <h1>Register new Doctor</h1>
                    <div class="form-holder">

                        <div class="reg-boxes-div">
                            <input type="text"     name="fullName" placeholder="Full Name"/>
                            <small id="fullNameError"
                                   class="invalid-feedback text-light form-text bg-danger rounded">Full name length must be
                                between 5 and 50 characters</small>
                        </div>

                        <div class="reg-boxes-div">
                            <input type="email"   name="email"
                                   placeholder="E-mail"/>
                            <small id="emailError"
                                   class="invalid-feedback text-light form-text bg-danger rounded">Must be valid
                                email</small>
                            <small  id="emailUniqueError"
                                   class="text-light form-text bg-danger rounded">Email is already occupied</small>
                        </div>


                        <div class="reg-boxes-div">
                            <input type="number"   name="phoneNumber"
                                   placeholder="Phone number"/>
                            <small id="phoneError"
                                   class="invalid-feedback text-light form-text bg-danger rounded">
                                Phone number must be more than 6 digits.
                            </small>
                        </div>

                        <div class="reg-boxes-div">
                            <input type="text"   name="specialization"
                                   placeholder="Specialization"/>
                            <small id="specError"
                                   class="invalid-feedback text-light form-text bg-danger rounded">
                                Phone number must be more than 6 digits.
                            </small>
                        </div>


                        <div class="reg-boxes-div">
                            <input type="password"  name="password" placeholder="Password"/>
                            <small id="passwordError"
                                   class="invalid-feedback text-light form-text bg-danger rounded">
                                Password length must be between 5 and 20 characters and passwords should match.
                            </small></div>

                        <div class="reg-boxes-div">
                            <input type="password"  name="confirmPassword"
                                   placeholder="Retype password"/>
                            <small id="confirmPasswordError"
                                   class="invalid-feedback text-light form-text bg-danger rounded">
                                Password length must be between 5 and 20 characters and passwords should match.
                            </small>
                        </div>
                    </div>


                    <div class="register-btn-div">
                        <input class="reg-btn" type="submit" name="signup_submit" value="Sign me up"/>
                    </div>
                </form>


            </div>


        </div>
    </div>

</section>

<footer th:replace="fragments/commons :: footer"></footer>

</body>

