<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/commons :: head">

</head>

<body class="img js-fullheight" >

<header id="header" class="fixed-top" th:replace="fragments/commons :: header"></header>

<section style="    text-align: center;
    font-size: 25px;" class="ftco-section">
    Oh no! Something went wrong! <br>
    Please excuse us, we are working on it...
</section>

<footer th:replace="fragments/commons :: footer"></footer>
<script src="/js/main.js"> </script>


</body>
</html>

