<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/commons :: head">

</head>

<body class="img js-fullheight" >

<header id="header" class="fixed-top" th:replace="fragments/commons :: header"></header>

<section class="ftco-section" style="margin-top: 100px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section" style="margin-top: 50px;">Login</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="login-wrap p-0">

                    <div th:if="${bad_credentials}" class="alert alert-danger" role="alert">
                        This username and password combination does not exist.
                    </div>

                    <form th:action="@{/users/login}" method="POST" class="signin-form">
                        <div class="form-group">
                            <input name="username" type="text" th:value="${username}" class="form-control" placeholder="Username" required style="width: 100%">
                        </div>
                        <div class="form-group">
                            <input name="password" id="password-field" type="password" class="form-control" placeholder="Password" required style="width: 100%">
                            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control btn btn-primary submit px-3">Login</button>
                        </div>

                    </form>


                </div>
            </div>
        </div>
    </div>
</section>

<footer th:replace="fragments/commons :: footer"></footer>

<script src="js/login/jquery.min.js"></script>
<script src="js/login/popper.js"></script>
<script src="js/login/bootstrap.min.js"></script>
<script src="js/login/main.js"></script>
<script src="/js/main.js"> </script>

</body>
</html>

