<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/commons :: head">

</head>

<body style="background-image: url(../img/appointment.jpg); background-repeat: no-repeat; background-size: 1870px 1100px; padding-right: 0">
<header id="header" class="fixed-top" th:replace="fragments/commons :: header"></header>


<section id="appointment" class="appointment section-bg" style="margin-top: 185px;">
    <div class="container appointment">

        <div class="section-title">
            <h2 class="app-h2">Make an Appointment</h2>
            <p class="app-p">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <form th:action="@{/appointments/make}" method="POST" th:object="${appointmentAddBindingModel}" class="php-email-form">

            <div class="row">
                <div class="col-md-4 form-group mt-3" id="dateCont">
                    <p>Date: <input type="text" th:field="*{appointmentDate}" id="datepicker" class="app-date" autocomplete="off" readonly="readonly">
                        <small th:if="${#fields.hasErrors('appointmentDate')}" id="ageError"
                               class="invalid-feedback text-light form-text bg-danger rounded">Please select a date.</small></p>

                </div>
                <div class="col-md-4 form-group mt-3">
                   <p>Select your pet:<select th:name="petId" id="petId" class="form-select">
                        <option value="" selected = "selected" disabled>Select Pet</option>
                        <option th:each="p : ${pets}" th:value="${p.id}" th:text="${p.name}" >Pet 1</option>
                    </select>
                       <small th:if="${#fields.hasErrors('petId')}" id="petError"
                              class="invalid-feedback text-light form-text bg-danger rounded">Please select a pet.</small></p>

                </div>
                <div class="col-md-4 form-group mt-3">
                   <p>Select a doctor:<select th:name="docId" id="docId" class="form-select">
                        <option value="" selected = "selected" disabled>Select Doctor</option>
                        <option th:each="d : ${doctors}" th:value="${d.id}" th:text="${d.fullName}" >Doctor 1</option>
                    </select>
                       <small th:if="${#fields.hasErrors('docId')}" id="docError"
                              class="invalid-feedback text-light form-text bg-danger rounded">Please select a doctor.</small></p>
                </div>

            </div>

            <div class="form-group mt-3">
               <p>Additional info: <textarea class="form-control appointment" th:field="*{additionalInfo}" name="message" rows="5" style="border: solid 1px black;" ></textarea></p>

            </div>


            <div class="text-center" ><button type="submit" style="margin-bottom: 30px;">Make an Appointment</button></div>
        </form>

    </div>
</section>

<footer th:replace="fragments/commons :: footer"></footer>

<script src="/js/main.js"> </script>
<script src="/js/date-remover.js"> </script>
</body>
</html>
