<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/commons :: head">

</head>
<body>
<header id="header" class="fixed-top" th:replace="fragments/commons :: header"></header>
<section id="doctors" class="doctors" style="margin-top: 40px">
    <div class="container my-pets-div">

        <div class="section-title">
            <h2>My Pets</h2>
            <a class="add-pet-btn" href="/pets/add-pet">Add pet</a>
        </div>

        <div class="row">

            <div class="col-lg-6" th:each="p : ${pets}">
                <div class="member d-flex align-items-start">
                    <div class="pic"><img th:src="*{p.imageUrl}" class="img-fluid" alt=""></div>
                    <div class="member-info">
                        <h4 th:text="*{p.name}">Name</h4>
                        <span th:text="*{p.gender}">Gender</span>
                        <p th:text="*{p.age + ' years old'}">Age</p> <p th:text="*{p.type}">Type</p>
                        <a th:href="@{/pets/{id}(id=*{p.id})}" style="color: #1668ff; font-size: 17px">Medical History</a>
                    </div>
                </div>
            </div>



        </div>

    </div>
</section>
<footer th:replace="fragments/commons :: footer"></footer>
<script src="/js/main.js"> </script>

</body>
</html>
