<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/commons :: head">

</head>

<body class="img js-fullheight" style="background: white">

<header id="header" class="fixed-top" th:replace="fragments/commons :: header"></header>

<section class="team-sec">
    <div th:each="doc : ${doctors}" class="card">

        <div class="ring">
            <img th:src="*{doc.profilePicture}" />
        </div>

        <h3 th:text="*{doc.fullName}">Name</h3>

        <ul>
            <li th:text="*{doc.specialization}">Specialization</li>

        </ul>

    </div>
</section>

<footer th:replace="fragments/commons :: footer"></footer>

<script src="js/login/jquery.min.js"></script>
<script src="js/login/popper.js"></script>
<script src="js/login/bootstrap.min.js"></script>
<script src="js/login/main.js"></script>
<script src="/js/main.js"></script>
</body>
</html>
