<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/commons :: head">

</head>
<body style="background-color: red; background-repeat: no-repeat; background-size: 1870px 1237px; padding-right: 0">

<header id="header" class="fixed-top" th:replace="fragments/commons :: header"></header>

<section class="add-pet-section" >

    <form th:action="@{/stories/add}" id="pet-add-form" method="POST" th:object="${storyPostBindingModel}" class="cf" enctype="multipart/form-data">

        <div class="half left cf">
            <h1>Share your story!</h1>
            <input  th:field="*{title}" type="text" id="input-title" name="title" placeholder="Title">
            <small th:if="${#fields.hasErrors('title')}" id="titleError"
                   class="invalid-feedback text-light form-text bg-danger rounded">Pet name must be more than 3 characters.</small>

            <textarea th:field="*{storyText}" name="storyText" id="storyText" cols="30" rows="10" placeholder="Your Story"></textarea>

            <div class="inputfile-box">
                <input th:field="*{imageUrl}" type="file" id="file" class="inputfile" style="display: none" onchange='uploadFile(this)'>
                <label  for="file"  >
                    <span id="file-name" class="file-box"  >Select your image</span>
                    <span class="file-button">
                      <i class="fa fa-upload" aria-hidden="true"></i>
                         Select File
                     </span>
                </label>
            </div>

            <input type="submit" value="Post" id="input-submit">
        </div>



    </form>
</section>

<footer th:replace="fragments/commons :: footer"></footer>

<script src="/js/upload-btn.js"></script>
<script src="/js/main.js"> </script>
</body>
</html>
